html {
 height: 100%;
 background-image: url(../images/background.jpeg);
 background-repeat: no-repeat;
 background-position: center center;
 background-attachment: fixed;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
}

.intro {
    max-height: 100vh;
    overflow: hidden;
    position: relative;
}

.intro::after {
    content:"";
    display: block;
    width: 100%;
    height: 100%;

    background-color: rgba(0,0,0,0.2);

    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.video {
    position: relative;
    z-index: 1;
    padding-bottom: 56.25%;
}

.video_media {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
}

table {
    table-layout: fixed;
    text-align: center;
    padding-top: 5px;
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 1px;
    margin-bottom: 15px;

    
}
th {
    background-color: rgba(225, 250, 3, 0.946);
    padding: 3px;
    height: 35px;
}

td {
    height: 150px;
    padding: 3px;
    font-size: 13px;
    text-align: center;
   
   
    
}



.conlk{
    border: 2px solid #f6c41185; /* Товщина, стиль та колір рамки */
    background-color: #faee107d;
    padding: 3px; /* Відступ всередині рамки */
}
.conlk:not(:last-child) {
    margin-bottom: 3px;
}

.conPz{
    border: 2px solid #12db1c85; /* Товщина, стиль та колір рамки */
    background-color: #10fa377d;
    padding: 3px; /* Відступ всередині рамки */
}
.conPz:not(:last-child) {
    margin-bottom: 3px;
}

.conLb{
    border: 2px solid #1287db85; /* Товщина, стиль та колір рамки */
    background-color: #10d7fa7d;
    padding: 3px; /* Відступ всередині рамки */
}
.conLb:not(:last-child) {
    margin-bottom: 3px;
}



body {
    height: 100%;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.textmain {
    text-align: center;
}

.wrapper {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100%;
    
    min-height: 100%;
    display: flex;
    flex-direction: column;

   
    backdrop-filter: blur(0px); 
    
}



.main {
    width: 100%;
    height: 100%;
    padding: 30px;
    flex: 1 1 auto;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

main {
    min-width: 65%;
    max-width: 65%;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(26, 26, 26, 0.95) ;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.prmain {
    
        min-width: 65%;
        max-width: 65%;
        margin: 0 auto;
        padding: 20px;
        background-color: rgba(255, 255, 255, 0.95) ;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
}


.pmain{
    color: white;
    text-align: center;
    padding: 2px;
}

.pmain1{
    color: white;
    text-align: left;
    padding: 2px;
    margin-left: 50px;
}

.pmainabout{
    color: white;
    text-align: left;
    padding: 2px;
}

.pract{
    color: white;
    padding: 2px;
}


a {
    color: #14a9f3; /* Колір тексту по замовчуванню */
    text-decoration: none; /* Видалити підкреслення посилань */
    transition: color 0.3s; /* Плавне переход для кольору тексту */
}
a:hover {
    color: #f52c09f9; /* Змініть колір тексту при наведенні миші */
}
a:active {
    background-color: #fcfcfc29; /* Змініть фон посилання при кліку */
}


h1, h2 {
    color: #1ebb5a;
    text-shadow: 1px 2px #000000;
}

.text {
 text-align: justify;
}


footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}


