html {
 height: 100%;
 background-image: url(../images/background.jpeg);
 background-repeat: no-repeat;
 background-position: center center;
 background-attachment: fixed;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
}
table {
    table-layout: fixed;
    text-align: center;
    padding-top: 5px;
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 1px;
    margin-bottom: 15px;

    
}
th {
    background-color: rgba(225, 250, 3, 0.946);
    padding: 3px;
    height: 35px;
}

td {
    height: 150px;
    padding: 3px;
    font-size: 13px;
    text-align: center;
   
   
    
}



.conlk{
    border: 2px solid #f6c41185; /* Товщина, стиль та колір рамки */
    background-color: #faee107d;
    padding: 3px; /* Відступ всередині рамки */
}
.conlk:not(:last-child) {
    margin-bottom: 3px;
}

.conPz{
    border: 2px solid #12db1c85; /* Товщина, стиль та колір рамки */
    background-color: #10fa377d;
    padding: 3px; /* Відступ всередині рамки */
}
.conPz:not(:last-child) {
    margin-bottom: 3px;
}

.conLb{
    border: 2px solid #1287db85; /* Товщина, стиль та колір рамки */
    background-color: #10d7fa7d;
    padding: 3px; /* Відступ всередині рамки */
}
.conLb:not(:last-child) {
    margin-bottom: 3px;
}



body {
    height: 100%;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.textmain {
    text-align: center;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;

    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px); 
    
}

.main {
    width: 100%;
    padding: 30px;
    flex: 1 1 auto;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

main {
    min-width: 50%;
    max-width: 50%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.pmain{
    text-align: center;
}

h1, h2 {
    color: #1ebb5a;
    text-shadow: 1px 2px #000000;
}

.text {
 text-align: justify;
}


footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}


