

html {
    height: 100%;
    background-image: url(../images/background.jpeg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

form {
    position: fixed;

}

.registration_form {
    font-family: cursive;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 210px;
    right: 0px;
    left: 0px;
    max-height: calc(100vh - 300px);
    max-width: calc(100vw - 1000px);
    min-height: 300px;
    min-width: 400px;
    background-color: #1ea9bb2c;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 0px 14px 1px rgb(0 0 0 / 35%);
    padding: 30px;
    border: 1px solid rgba(22, 113, 250, 0.048);
    font-size: 20px;
}

.form_field {
    align-content: center;
    margin-top: 30px ; 
}

.form_field:first-child {
    align-content: center;
    margin-top: 0px ;
}

.h2_form_field {
    color: rgba(13, 36, 71, 0.699);
    background-color: 1ea9bb2c;
    border: 2px solid rgba(22, 113, 250, 0.445);
    border-radius: 1px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 50px;
    padding-right: 50px;
    font-family:cursive;
}

.form_field:last-child {
    margin-bottom: 30px;
}

.form_field > input {
    padding: 8px 15px;
    border: 3px solid rgba(16, 37, 158, 0.671);
    border-radius: 30px;
    font-family: inherit;
    font-size: 20px;
    margin-top: 15px;
}

label {
    font-family: inherit;
}


.form_field > input:active {
    border: 3px solid rgb(255, 217, 0);
}


table {
    table-layout: fixed;
    text-align: center;
    padding-top: 5px;
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 1px;
    margin-bottom: 15px;   
}

th {
    background-color: rgba(225, 250, 3, 0.946);
    padding: 3px;
    height: 35px;
}

td {
    height: 150px;
    padding: 3px;
    font-size: 13px;
    text-align: center;
}



.conlk{
    border: 2px solid #f6c41185; /* Товщина, стиль та колір рамки */
    background-color: #faee107d;
    padding: 3px; /* Відступ всередині рамки */
}
.conlk:not(:last-child) {
    margin-bottom: 3px;
}

.conPz{
    border: 2px solid #12db1c85; /* Товщина, стиль та колір рамки */
    background-color: #10fa377d;
    padding: 3px; /* Відступ всередині рамки */
}
.conPz:not(:last-child) {
    margin-bottom: 3px;
}

.conLb{
    border: 2px solid #1287db85; /* Товщина, стиль та колір рамки */
    background-color: #10d7fa7d;
    padding: 3px; /* Відступ всередині рамки */
}
.conLb:not(:last-child) {
    margin-bottom: 3px;
}



body {
    height: 100%;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.textmain {
    text-align: center;
}

.wrapper {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100%;
    min-height: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: column;

   
    backdrop-filter: blur(4px); 
    
}



.main {
    width: 100%;
    height: 100%;
    padding: 30px;
    flex: 1 1 auto;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

main {
    min-width: 65%;
    max-width: 65%;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(26, 26, 26, 0.95) ;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

.prmain {

        min-width: 80%;
        max-width: 80%;
       
        margin: 0 auto;
        padding: 20px;
        background-color: rgba(255, 255, 255, 0.95) ;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
}


.pmain{
    color: white;
    text-align: center;
    padding: 2px;
    font-size: 19px;
}

.pmain:first-child{
    font-size: 24px;
}

.section_pmain{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pmain1{
    color: white;
    text-align: left;
    padding: 2px;
    margin-left: 50px;
}

.pmainabout{
    color: white;
    text-align: left;
    padding: 2px;
}

.pract{
    color: white;
    padding: 2px;
}


a {
    color: #14a9f3; /* Колір тексту по замовчуванню */
    text-decoration: none; /* Видалити підкреслення посилань */
    transition: color 0.3s; /* Плавне переход для кольору тексту */
}
a:hover {
    color: #f52c09f9; /* Змініть колір тексту при наведенні миші */
}
a:active {
    background-color: #fcfcfc29; /* Змініть фон посилання при кліку */
}


.main_header_style {
    color: #1ebb5a;
    text-shadow: 1px 2px #000000;
}

.text {
 text-align: justify;
}


footer {
    
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

